<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
 
  <body>
  	<div class="container">
  		{{{ body }}}
  	</div>

    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>